.websiteList {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #373A40;
    font-size: 40px;
    padding-top: 0%;
    font-weight: bold;
}

.websites {
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}