.background {
    background-color: #EEEEEE;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    width: 100%;
    min-height: 77vh;
}

.skillList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #373A40;
}

.skillName {
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.skillDescription {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid ;
    color: #373A40;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 400px;
    height: 35%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 8px 10px 4px 2px #373A40;
}

.textArea {
    width: 60%;
}

.skillIcons {
    height: auto;
    width: 30%;
    margin-left: 10%;
}

@media screen and (max-width: 1500px) {
    .skill {
        width: 272px;
    }
}

@media screen and (max-width: 950px) {
    .skill {
        width: 80vw;
    }

    .skillList {
        padding-left: 0%;
    }
}

@media screen and (min-width: 2000px) {
    .skillName {
        font-size: 50px;
    }
    
    .skillDescription {
        font-size: 30px;
    }
}